@import url(https://fonts.googleapis.com/css?family=Inconsolata|Roboto:400,700);

body {
  font-family: 'Roboto';
	background: url(/assets/img/lightbg.png);
}

code {
  font-family: 'Inconsolata', monospace;
}

.sidebar {
  position: fixed;
  top: 0px;
  padding-top: 10%;
  color: #333;
}

.sidebar-header {
	text-align: center;
	margin-bottom: 10px;
}

.sidebar-header img.img-circle {
	border: 10px solid #ddd;
}

article {
    border-bottom: 20px solid rgba(54,168,226,.5);
  background: #fff;
  margin-bottom: 40px;
  padding: 20px;
}

article img { max-width: 100%; }

a {
  color: #000;
  border-bottom: 2px dotted rgba(54,168,226,.8);
}

a:hover {
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid rgba(54,168,226,.8);
}

#bio {
  margin-bottom: 20px;
}

.page-header {
    border-top: 20px solid rgba(54,168,226,.5);
    border-bottom: 20px solid rgba(54,168,226,.5);
    margin: 20px 0;
}

.post-date {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
}

.author .author-image {
  float: left;
   margin-right: 20px;
}